<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>製品一覧</h4>
    </div>
    <div class="col-md-8">
      <table class="table" style="table-layout: fixed; word-wrap: break-word;">
        <tbody>
          <tr>
            <th></th>
            <th>製品名</th>
            <th>税込価格</th>
            <th>販売状況</th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>