<!--画像表示-->
<div class="background-image-2">
    <%= link_to public_root_path, class: 'text-dark' do %>
      <!--表示文字-->
      <div class="top-text">
        サイトTOP
      </div>
    <% end %>
    <!--画像リンク-->
  <%= image_tag "kizuna_sozai_01.jpg", width: '100%', height: '100%' %>
</div>