// contianerCSS{
.chat-containe{
  padding: 100px 0px;
}
// }

// indexCSS{
.chat-index-logo{
  text-align: center;
}
.chat-table{
  table-layout: fixed;
  word-wrap: break-word;
}
// }

// showCSS{
.blog-show-logo{
  text-align: center;
}
.chat-box{
  padding-top: 10px;
  text-align: center;
  border: 1px solid rgba(0 , 0, 0, 0.2);
  background-color: rgba(255,255,255,0.5);
}
.chat-show-text{
  line-height: 50px;
}
.chat-show-logo-2{
  text-align: center;
  margin-top: 50px;
}
.chat-show-body{
  text-align: center;
}
// }