// containerCSS{
.notice-container{
  padding: 100px 0px;
}
// }

// newCSS{
.notice-new-logo{
  text-align: center;
}
.notice-new-body{
  text-align: center;
}
.notice-new-body-2{
  text-align:center;
}
.notice-new-body-3{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.notice-error{
  color: red;
}
// }

// indexCSS{
.notice-index-logo{
  text-align: center;
}
.notice-index-body{
  margin-bottom: 30px;
}
.notice-index-link{
  text-align: center;
  margin-bottom: 30px;
}
// }

// showCSS{
.notice-show-logo{
  text-align: center;
}
.notice-show-body{
  text-align: center;
  margin-bottom: 30px;
}
.notice-show-link{
  text-align: center;
  margin-bottom: 30px;
}
// }

// editCSS{
.notice-edit-logo{
  text-align: center;
}
.notice-edit-body{
  text-align: center;
}
.notice-edit-body{
  text-align: center;
}
.notice-edit-body-3{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
// }