<!--イベント用日付検索機能-->

<%= form_with url: public_events_path, local: false, remote: true, method: :get do |f| %>
<div class="search-form">
  <%= f.date_field :date_and_time %>
  <%= f.submit "日付検索", class: 'btn btn-sm btn-primary' %>
</div>
<% end %>