<div class="container">
  <div class="row">
    <div class="col" style="text-align: center;">
      KizunaはACom株式会社専用という体の<br>コミニケーション、及び社内物販ツールです<br>
      社員間での質問や交流を深めて<br>
      会社ライフを楽しくしていきましょう♪

      <div class="worning" style="margin-top: 50px;">
        <strong>※ゲストでもサイトの閲覧はできますが、<br>ログインしないとみれない
        コンテンツもございます。</strong>
      </div>

      <div class="guest-path" style="margin-top: 50px;">
        ゲストの方はこちらからログインできます。<br>↓<br>
        <%= link_to "ゲストログイン(閲覧用)", public_employees_guest_sign_in_path, class: 'btn btn-secondary btn-sm sign_in', method: :post %>
      </div>

      <div class="admin-path" style="margin-top: 50px;">
        管理者の方はこちらからログインできます<br>↓<br>
        <%= link_to "管理者ログイン", new_admin_session_path, class: 'btn btn-success btn-sm' %>
      </div>

    </div>
  </div>
</div>