<!--public_rootページ-->

<div class="background-image-3">
  <!--表示文字-->
  <div class="public-root-text">
    絆は、人と人との繋がりを応援します
  </div>
  <!--背景リンク-->
  <%= image_tag "mv.jpg", width: '100%', height: '100%' %>
</div>