<div class="background" style="width: 101%; height: 100%; position: relative;">
  <p style="position: absolute; padding-top: 150px; margin-left: 120px;">絆は、企業内コミュニケーションを応援します</p>
  <%= image_tag "mv.jpg", width: '100%', height: '100%' %>
</div>