<!--_formの部分テンプレート-->
<div id="chatform-btn">
  <%= render 'form', chat: @chat %>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>過去の<br>質疑応答</h4>
    </div>
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th width="100px">投稿者</th>
            <th>投稿日</th>
            <th>質問内容</th>
            <th>チャット</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <%= render partial: 'tbody', collection: @chats , as: :chat  %>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
      検索フォームを部分テンプレートで
    </div>
  </div>
</div>