<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4><%= @chat.employee.name %><br>さんとの<br>チャット</h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="box" style="text-align: center; border: 1px solid #000000; height: 100px;">
        <span><%= @chat.title %></span>
        <br>
        <strong style="line-height: 50px;"><%= @chat.body %></strong>


      </div>
    </div>
  </div>
</div>