<%= form_with url: admin_products_path, method: :get do |f| %>
<div class="search-form">
  <%= f.text_field :word, size: "10" %>
  <%= f.submit "検索", class: 'btn btn-sm btn-primary' %>
</div>
<% end %>