<%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align:; center">
      <h4>タグ登録</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "タグを入力してください", size: "30" %>
      </div>
      <br>
      <div class="field">
        <%= f.submit "登録", class: 'btn btn-sm btn-success' %>
      </div>
    </div>
  </div>
</div>
<% end %>