<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center; margin-top: 30px;">
      <h4>質疑応答</h4>
    </div>
    <div class="col-md-9" style="margin-top: 30px;">
      <% qa_chats.each do |qa_chat| %>
      <table class="table table-inverse">
          <tr>
            <th>題名</th>
            <td width="450px"><%= simple_format qa_chat.title %></td>
            <th>投稿日時</th>
            <td><%= qa_chat.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        <tr>
          <th>質問内容</th>
          <td width="450px"><%= simple_format qa_chat.message %><br></td>
          <th></th>
          <th>
            <%= link_to public_qa_chat_path(qa_chat), local: false, remote: true,  method: :delete, class: 'btn btn-sm btn-danger' do %>
              削除
            <% end %>
          </th>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>