<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>Q&A</h4>
    </div>
    <div class="col-md-8" style="text-align: center;">
      <% @rooms.each do |room| %>
      <%#= debsg qa_chat %>
      <table class="table table-box">
        <%= room.id %>
      <% end %>
      </table>
    </div>
  </div>
</div>
