<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4><%= simple_format current_employee.name%>様の注文</h4>
    </div>
    <div class="col-me-8">
      <table></table>
    </div>
  </div>
</div>