.blog-container{
  padding: 100px 0px;
}

// indexCSS{
.blog-index-logo{
  text-align: center;
}
.blog-index-body{
  margin-bottom: 30px;
}
.blog-table{
  table-layout: fixed;
  word-wrap: break-word;
}
.blogs-index-link{
  text-align: center;
}

// }