// containerCSS{
.cartitem-container{
  padding: 100px 0px;
}
// }

// indexCSS{
.cartitem-index-logo{
  text-align: center;
}
.cartitem-index-body{
  margin-bottom: 30px;
}
.cartitem-table{
  table-layout: fixed;
  word-wrap: break-word;
}
.cartitem-index-link{
  text-align: center;
}
// }