// containerCSS{
.event-container{
  padding: 100px 0px;
}
// }

// indexCSS{
.event-index-logo{
  text-align: center;
  margin-bottom: 30px;
}
.event-index-body{
  margin-bottom: 30px;
}
.event-index-table{
  table-layout: fixed;
  word-wrap: break-word;
}
.event-index-link{
  text-align: center;
}
// }

// showCSS{
.event-show-logo{
  text-align: center;
}
.event-show-image{
  text-align: center;
}
.event-show-body{
  margin-bottom: 30px;
}
.event-show-table{
  margin-top: 20px;
  table-layout: fixed;
  word-wrap: break-word;
}
// }