// topCSS{
.background-image-3{
  position: relative;
  background-size: cover;
}
.public-root-text{
  position: absolute;
  padding-top: 150px;
  margin-left: 120px;
}
// }

// aboutCSS{
.about-container{
  padding: 100px 0px;
}
.about-body-1{
  text-align: center;
}
.guest-path{
  padding-top: 50px;
}
.admin-path{
  padding: 50px 0px;
}
.warning{
  margin-bottom: 30px;
  font-size: 12px;
}
// }
