// containerCSS{
.notice-container{
  padding: 100px 0px;
}
// }

// indexCSS{
.notice-index-logo{
  text-align: center;
}
.notice-index-body{
  margin-bottom: 30px;
}
.notice-index-table{
  table-layout: fixed;
  word-wrap: break-word;
}
.notice-index-link{
  text-align: center;
  margin-bottom: 30px;
}
// }

// showCSS{
.notice-show-logo{
  text-align: center;
}
.notice-show-body{
  text-align: center;
  margin-bottom: 30px;
}
// }