// containerCSS{
.registration-container{
  padding: 100px 0px;
}
// }

// newCSS{
.registration-new-error{
  text-align: center;
  color: red;
}
.registration-new-body{
  text-align: center;
}
.registration-new-field{
  color: red;
}
.registration-new-link{
  text-align: center;
  margin: 30px 0;
}
// }