// bootstrapのインポート
@import '~bootstrap/scss/bootstrap';
// fontawesomeのインポート
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// publicCSSリンク{
@import 'public/blogs';
@import 'public/cart_items';
@import 'public/chat_messages';
@import 'public/chats';
@import 'public/employees';
@import 'public/events';
@import 'public/favorites';
@import 'public/homes';
@import 'public/notices';
@import 'public/orders';
@import 'public/products';
@import 'public/searches';
// }

// adminCSSリンク{
@import 'admin/blogs';
@import 'admin/chat_messages';
@import 'admin/chats';
@import 'admin/employees';
@import 'admin/events';
@import 'admin/notices';
@import 'admin/orders';
@import 'admin/products';
@import 'admin/searches';
@import 'admin/tags';
// }

// applicationCSS{

// 画面の横軸を固定{
html{
  overflow-x: hidden;
}
// }
// main_background_imageCSS{
.background-image-1{
  width: 101%;
  // background-image: image-url('sozai13.jpg');
  background-image: url(../images/sozai13.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.background-image-1::after{
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.7;
}
.img-color{
  position: relative;
  z-index: 3;
}
// }
// containerCSS{
// .container{
  // padding-top: 100px;
// }
// }
// rootCSS{
.background-image-2{
  width: 101%;
  height: 100%;
  position: relative;
}
.top-text{
  margin-top: 530px;
  margin-left: 685px;
  font-size: 32px;
  color: limegreen;
  position: absolute;
}
// }
// public_rootCSS{
.background-image-3{
  width: 101%;
  height: 100%;
  position: relative;
}
.public-root-text{
  position: absolute;
  padding-top: 150px;
  margin-left: 120px;
}
// }
// admin_blogs_chart.jsCSS{
#chart {
  margin: auto;
  text-align: center;
  width: 600px;
  height: 300px;
}
// }
// paginationCSS{
.pagination{
  justify-content: center;
  margin: 30px 0;
}
// }

// }