// bootstrapのインポート
@import '~bootstrap/scss/bootstrap';

// fontawesomeのインポート
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// CSS

// main_background_imageCSS
.background-image-1{
  width: 100%;
  // background-image: image-url('sozai13.jpg');
  background-image: url(../images/sozai13.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.background-image-1::after{
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.7;
}
.img-color{
  position: relative;
  z-index: 3;
}

// containerCSS
.container{
  padding-top: 100px;
}

// rootCSS
.background-image-2{
  width: 101%;
  height: 100%;
  position: relative;
}
.top-text{
  margin-top: 530px;
  margin-left: 685px;
  font-size: 32px;
  color: limegreen;
  position: absolute;
}

// public_rootCSS
.background-image-3{
  width: 101%;
  height: 100%;
  position: relative;
}
.public-root-text{
  position: absolute;
  padding-top: 150px;
  margin-left: 120px;
}

// public_aboutCSS
.bord{
  background-color: rgba(255, 255, 255, 0.6);
  justify-conten: center;
}
.guest-path{
  padding-top: 50px;
}
.admin-path{
  padding-top: 50px;
}
.warning{
  margin-bottom: 30px;
  font-size: 12px;
}

// public_employee_showCSS
.employee-show-title{
  text-align: center;
}
.employee-show-body{
  margin-bottom: 30px;
}
.employee-show-links{
  text-align: center;
  margin-bottom: 30px;
}
.employee-show-blogs{
  margin-bottom: 100px;
}

// public_blogsCSS
.blog-index-title{
  text-align: center;
}
.blog-index-body{
  margin-bottom: 30px;
}
.blog-index-link{
  text-align: center;
  margin-bottom: 30px;
}

// public_cart_item_indexCSS
.table-cart_items{
  table-layout: fixed;
  word-wrap: break-word;
}

// public_chat_indexCSS
.chatform-btn{
  margin-bottom: 30px;
}
.chat-index-title{
  text-align: center;
  margin-top: 30px;
}
.chat-index-body{
  margin-top: 30px;
}
.chat-index-table{
  table-layout: fixed;
  word-wrap: break-word;
}
.chat-index-link{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
#chatform-btn{
  text-align: center;
}
.chat-form-body{
  margin-top: 20px;
}
.chat-form-submit{
  margin-top: 10px;
}

// public_chat_showCSS
.chat-show-title{
  text-align: center;
}
.chat-show-box{
  padding-top: 10px;
  text-align: center;
  border: 1px solid rgba(0 , 0, 0, 0.2);
  background-color: rgba(255,255,255,0.5);
}
.chat-message-title{
  text-align: center;
  margin-top: 50px;
}
.chat-message-body{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

// admin_blogs_chart.jsCSS
#chart {
  margin: auto;
  text-align: center;
  width: 600px;
  height: 300px;
}

// paginationCSS
.pagination{
  justify-content: center;
  margin: 30px 0;
}

// errorsCSS
.errors-text{
  margin-top: 20px;
}

.alert-text{
  text-align: center;
  color: blue;
  margin-top: 100px;
}

.notice-text{
  text-align: center;
  color: blue;
  margin-top: 100px;
}


// CSS終わり