// bootstrapのインポート
@import '~bootstrap/scss/bootstrap';

// fontawesomeのインポート
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#chart {
  margin: auto;
  margin-top: 120px;
  text-align: center;
  width: 600px;
  height: 300px;
}
.pagination{
  justify-content: center;
  margin: 30px 0;
}
.background-image-1{
  width: 100%;
  background-image: url(../images/sozai13.jpg);
  background-size: cover;
}
.container{
  padding-top: 100px;
}

.bord{
  background-color: rgba(255, 255, 255, 0.6);
  justify-conten: center;
}