<table>
<% chat.chat_messages.each do |chat_message| %>
  <tr>
    <td>
      <%= chat_message.employee.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= chat_message.message %>
    </td>
  </tr>
<% end %>
</table>