<!--コメント機能 チャット詳細のフォームから入力したテキストを出力-->

<table class="table" style="table-layout: fixed; word-wrap: break-word;">
  <% chat.chat_messages.each do |chat_message| %>
  <!--投稿日時-->
  <tr>
    <td colspan="2"><%= chat_message.created_at %></td>
  </tr>
  <!--投稿者氏名/assigned_to/コメント内容-->
  <tr>
    <td><%= chat_message.employee.first_name %> さん<br><%= chat_message.employee.assigned_to %></td>
    <td width="700px"><%= simple_format chat_message.message %></td>
  </tr>
<% end %>
</table>