<%= form_with model: [chat, chat_message], url: public_chat_path(chat), remote: true, local: false, method: :post do |f| %>
  <%= f.text_area :message, autocomplete: "message", placeholder: "コメント", size: "50" %>
  <br>
  <%= f.submit "送信", class: 'btn btn-sm btn-info' %>
<% end %>

<div class="errors">
  <%= render 'layouts/errors', obj: chat_message %>
</div>