<div class="container">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <h4>注文確定完了</h4>
      <p>入力</p>
      <span>↓</span>
      <p>確認</p>
      <span>↓</span>
      <p class="btn-info" style="background-color: #ffad90;">完了</p>
    </div>
    <div class="col-md-8" style="text-align: center; margin-top: 50px;">
      <h4>ご注文承りました。<br>またのご利用をお待ちしております。</h4>
    </div>
  </div>
</div>