<%=form_with model: @notice, url: admin_notices_path, method: :patch do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="text-align: center;">
        <h4>News編集</h4>
      </div>
      <div class=""
    </div>
  </div>
<% end %>