  <div class="row">
    <div class="col" style="margin-top: 50px; text-align: center; background-color: #000000; color: #fff;">
      <!--アプリロゴ-->
      <h2 style="font-family: cursive;">Kizuna</h2>
      <!--著作権-->
      ©CopyRight ACom.inc
    </div>
  </div>