<nav class="bavbar fixed-top navbar-expand-lg navbar-light" style="line-height: 50px; background-color: rgba(0,0,0,0.5);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family:cursive; font-size: 68px;">
      <span>Kizuna</span>
    </a>
  </div>
</nav>